.header-container {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

h2, button {
  display: inline-block;
}

.pull-right {
  margin-right: 0px;
  margin-left: 400px;
  margin-top: 5px;
}
